/*
--01-TYPOGRAPHY-

--FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--FONT WEIGHT
Default:400
Medium:500
Semi-bold:600
Bold:700

--LINE HEIGHT
Default:1
Small:1.05
Medium:1.2
Paragraph default:1.6
large:1.8

-Letter spacing 
-0.5px
0.75px

--02-COLOR--           
-Primary: var(--color-primary)
-Tints:var(--color-tints-1),var(--color-tints-2)
-Shades:var(--color-shades-1),var(--color-shades-2)
-Accents:
-Grey:
#888
#767676(lighest grey allowed on var(--color-white))
#6f6f6f(lighest grey allowed on #fdf2e9)
var(--color-grey-4)
var(--color-grey-5);
White: var(--color-white)

--05-SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)

--06-BORDER_RADUIS
Default:9px
Medium:11px

--07-WHITESPACE
--Space System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
:root {
  --color-primary: #e67e22;
  --color-shades-1: #cf711f;
  --color-shades-2: #45260a;
  --color-tints-1: #171010;
  --color-tints-2: #423f3e;
  --color-tints-3: #2b2b2b;
  --color-sticky: #291818;
  --color-white: #111;
  --color-grey-1: #ffcece;
  --color-grey-2: #c27878;
  --color-grey-3: #aa7373;
  --color-grey-4: #dfbaba;
  --color-grey-5: #eee0e0;
  --color-shadows-1: none;
  --color-shadows-2: none;
  --color-shadows-3: none;
  --color-shadows-4: none;
  /* How it work */
  --color-how-1: #251c1c;
  --color-how-2: #724545;
  /* Meal */
  --color-meal: #291919;
  /* Pricing */
  --color-price-1: #291919;
  --color-price-2: #291919;
}

.lightmode {
  --color-tints-1: #fdf2e9;
  --color-tints-2: #fae5d3;
  --color-tints-3: #ddd;
  --color-sticky: rgba(253, 242, 233, 0.8);
  --color-white: #fff;
  --color-grey-1: #888;
  --color-grey-2: #767676;
  --color-grey-3: #6f6f6f;
  --color-grey-4: #555;
  --color-grey-5: #333;
  --color-shadows-1: rgba(0, 0, 0, 0.075);
  --color-shadows-2: rgba(0, 0, 0, 0.03);
  --color-shadows-3: rgba(0, 0, 0, 0.06);
  --color-shadows-4: rgba(0, 0, 0, 0.15);
  /* How it work */
  --color-how-1: #fdf2e9;
  --color-how-2: #fae5d3;
  /* Meal */
  --color-meal: #fff;
  /* Pricing */
  --color-price-1: #fff;
  --color-price-2: #fdf2e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: var(--color-white);
  color: var(--color-grey-4);
  overflow-x: hidden;
}
/* *************************** */
/* GENERAL REUSABLE COMPONENTS */
/* *************************** */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.grid--center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  line-height: 1.05;
  color: var(--color-grey-5);
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-shades-1);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border-radius: 9px;
  font-weight: 600;
  transition: all 0.3s;
  /* Only for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--full:hover,
.btn--full:active {
  background-color: var(--color-shades-1);
  /* color: var(--color-tints-2); */
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fae5d3;
  color: #555;
  /* border: 3px solid var(--color-primary); */
  /* box-shadow: inset 0 0 0 3px var(--color-primary); */
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fae5d3;
  /* color: var(--color-grey-5); */
  /* border: 3px solid #8a4c14; */
  box-shadow: inset 0 0 0 3px #635f5f;
}
.btn--form {
  background-color: var(--color-shades-2);
  color: #fdf2e9;
  align-self: flex-end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fdf2e9;
  color: var(--color-shades-2);
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(230, 126, 34, 0.5);
}
.link:link,
.link:visited {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: var(--color-shades-1);
  border-bottom: 1px solid transparent;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-icon {
  height: 3rem;
  width: 3rem;
  color: var(--color-primary);
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
/* HELPER/SETTING SECTION */
.center-text {
  text-align: center;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
strong {
  font-weight: 500;
}
