@import "general.css";
/* *************************** */
/* HEADER SECTION */
/* *************************** */
/* body .dark-theme {
  background-color: #161616 !important;
  color: #ddd;
} */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: var(--color-tints-1);
  position: relative;
}
.logo-1 {
  height: 2.2rem;
}

/* *************************** */
/* NAVIGATION SECTION */
/* *************************** */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--color-grey-5);
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-shades-1);
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-shades-1);
}
.nav-dark:link,
.nav-dark:visited {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-dark:hover,
.nav-dark:active {
  color: var(--color-shades-1);
}
.dark-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-grey-5);
}
/* MOBILE*/
.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-grey-5);
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* STICKY */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--color-sticky);
  backdrop-filter: blur(10px);
  height: 8rem;
  width: 100%;
  padding: 0 4.8rem;
  z-index: 999;
}
.sticky .section-hero {
  margin-top: 9.6rem;
}

/* *************************** */
/* HERO SECTION */
/* *************************** */
.section-hero {
  background-color: var(--color-tints-1);
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%;
}
.delivered-meals {
  display: flex;
  align-items: center;
  margin-right: 1.6rem;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--color-tints-1);
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  font-weight: 700;
  color: var(--color-shades-1);
}
/* *************************** */
/* FEATURED IN SECTION */
/* *************************** */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--color-grey-1);
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* *************************** */
/* HOW IT WORKS SECTION */
/* *************************** */
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--color-tints-3);
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  background-color: var(--color-tints-1);
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--color-tints-2);
  z-index: -1;
}
.step-img {
  width: 35%;
}
/* *************************** */
/* MEALS SECTION */
/* *************************** */
.section-meals {
  padding: 9.6rem 0;
}
.meal-title {
  font-size: 2.4rem;
  color: var(--color-grey-5);
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem var(--color-shadows-1);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translatey(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem var(--color-shadows-3);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-primary);
}
.meal-img {
  width: 100%;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* *************************** */
/* TESTIMONIAL SECTION */
/* *************************** */
.section-testimonials {
  background-color: var(--color-tints-1);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container {
  padding: 9.6rem 6.4rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 6.4rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: var(--color-grey-3);
  text-align: end;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-img:hover {
  transform: scale(1.1);
}
/* *************************** */
/* PRICING SECTION */
/* *************************** */
.section-pricing {
  padding: 9.6rem 0;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing-plan {
  border-radius: 11px;
  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  border: 2px solid var(--color-tints-1);
  padding: 4.6rem;
}
.pricing-plan--complete {
  background-color: var(--color-tints-1);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "best value";
  text-transform: uppercase;
  background-color: #ffd43b;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  top: 6%;
  right: -18%;
  padding: 0.8rem 8rem;
  position: absolute;
  transform: rotate(45deg);
}
.plan-name {
  color: var(--color-shades-1);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--color-grey-5);
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-grey-3);
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
.feature-icon {
  color: var(--color-primary);
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--color-tints-1);
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  color: var(--color-grey-5);
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
/* *************************** */
/* CTA SECTION */
/* *************************** */
.section-cta {
  /* top horizontal bottom */
  padding: 4.8rem 0 12.8rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: var(--color-primary); */
  box-shadow: 0 2.4rem 4.8rem var(--color-shadows-4);
  border-radius: 11px;
  background-image: linear-gradient(
    to right bottom,
    #eb984e,
    var(--color-primary)
  );
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--color-shades-2);
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgb(230, 126, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}
/* *************************** */
/* FOOTER */
/* *************************** */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid var(--color-tints-3);
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.logo-2 {
  height: 2.2rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  color: var(--color-grey-2);
  line-height: 1.6;
  font-size: 1.4rem;
  margin-top: auto;
}
.contact {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-grey-2);
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: var(--color-primary);
}
